# IntraCore: GDB command scripts (.gdb, .gdbinit). User-editable.
[Language]
Name=GDB Script
Extensions=gdb;gdbinit
FileNames=.gdbinit;gdbinit
LineComment=#
BlockCommentBegin=
BlockCommentEnd=
StringChars="
CharChars='
Preprocessor=
OperatorChars=+-*/%=!<>&|^~?$
PunctuationChars=()[]{}.,:;

[Heuristics]
FunctionCalls=false
Declarations=false
MemberAccess=true
Labels=false
UpperCaseMacros=true
LocalReferences=false
PreprocessorSymbols=false
Attributes=false

[DeclarationKeywords]
Words=define;document;end;set;source;file;symbol-file;add-symbol-file;shell

[ControlKeywords]
Words=if;else;while;loop_break;loop_continue;break;tbreak;hbreak;thbreak;watch;rwatch;awatch;continue;step;next;stepi;nexti;finish;until;advance;jump;run;start;starti;kill;detach;quit;load;monitor;target;delete;disable;enable;condition;ignore;commands

[Builtins]
Words=print;p;x;display;info;bt;backtrace;frame;up;down;list;disassemble;echo;printf;output;call;ptype;whatis;examine;dump;restore;remote;extended-remote

[Todo]
Words=TODO;FIXME;NOTE;WARNING;HACK;BUG
