# IntraCore: GNU linker script (.ld). User-editable.
[Language]
Name=Linker Script
Extensions=ld;lds
FileNames=
LineComment=
BlockCommentBegin=/*
BlockCommentEnd=*/
StringChars="
CharChars=
Preprocessor=
OperatorChars=+-*/%=!<>&|^~?
PunctuationChars=()[]{}.,:;

[Heuristics]
FunctionCalls=true
Declarations=false
MemberAccess=false
Labels=false
UpperCaseMacros=false
LocalReferences=false
PreprocessorSymbols=false
Attributes=false

[DeclarationKeywords]
Words=MEMORY;SECTIONS;ENTRY;OUTPUT_FORMAT;OUTPUT_ARCH;SEARCH_DIR;INCLUDE;INPUT;GROUP;OUTPUT;STARTUP;TARGET;INSERT;AFTER;BEFORE;PHDRS;VERSION

[ControlKeywords]
Words=KEEP;PROVIDE;PROVIDE_HIDDEN;HIDDEN;ASSERT;DISCARD;NOLOAD;COPY;INFO;OVERLAY;NOCROSSREFS;AT

[Builtins]
Words=ALIGN;ORIGIN;LENGTH;SIZEOF;ADDR;LOADADDR;ABSOLUTE;DEFINED;MAX;MIN;NEXT;SORT;SORT_BY_NAME;SORT_BY_ALIGNMENT;SORT_BY_INIT_PRIORITY;FILL;BYTE;SHORT;LONG;QUAD;SQUAD;CREATE_OBJECT_SYMBOLS;CONSTRUCTORS;SEGMENT_START;DATA_SEGMENT_ALIGN;DATA_SEGMENT_END;ALIGNOF;LOG2CEIL;COMMON

[Constants]
Words=FLASH;RAM;RAM1;RAM2;SRAM;SRAM1;SRAM2;CCMRAM;DTCMRAM;ITCMRAM;RAM_D1;RAM_D2;RAM_D3;BKPSRAM;rx;rw;rwx;xr;xrw

[Macros]
Words=_estack;_sidata;_sdata;_edata;_sbss;_ebss;_Min_Heap_Size;_Min_Stack_Size;__bss_start__;__bss_end__;end;_end

[Todo]
Words=TODO;FIXME;NOTE;WARNING;HACK;BUG
