# Файл пользовательских сочетаний клавиш.
# Формат: command.id=Ctrl+Key
# Примеры: file.save=Ctrl+S, ui.menu_focus=F10.

[KeyMap]
file.new=Ctrl+N
file.open=Ctrl+O
file.save=Ctrl+S
file.save_as=Ctrl+Shift+S
file.close_tab=Ctrl+W
app.quit=Ctrl+Q
template.new_cpp_class=Ctrl+Shift+C
edit.undo=Ctrl+Z
edit.redo=Ctrl+Y
edit.cut=Ctrl+X
edit.copy=Ctrl+C
edit.paste=Ctrl+V
edit.select_all=Ctrl+A
search.find=Ctrl+F
search.find_all=Ctrl+Shift+F
search.replace=Ctrl+H
search.replace_current=Ctrl+R
search.replace_all=Ctrl+Shift+R
search.goto_line=Ctrl+G
bookmark.toggle=Ctrl+F2
bookmark.next=F2
bookmark.previous=Shift+F2
search.find_next=F3
search.find_previous=Shift+F3
search.result_next=F4
search.result_previous=Shift+F4
project.run=Ctrl+F5
debug.run=F5
debug.stop=Shift+F5
debug.breakpoint_toggle=F9
debug.interrupt=Ctrl+Pause
project.goto_symbol=Ctrl+Shift+O
project.goto_definition=F12
editor.complete=Ctrl+Space
project.find_references=Ctrl+Shift+G
project.rename_symbol=Ctrl+Alt+R
project.build=F7
debug.parity_snapshot=Ctrl+F6
debug.parity_compare=Ctrl+F8
debug.run_to_cursor=Ctrl+F10
debug.next_instruction=Alt+F10
debug.step_instruction=Alt+F11
edit.toggle_comment=Ctrl+/
edit.duplicate_line=Ctrl+D
view.text_size_increase=Ctrl+=
view.text_size_increase_shift=Ctrl+Shift+=
view.text_size_increase_kp=Ctrl+KpPlus
view.text_size_decrease=Ctrl+-
view.text_size_decrease_kp=Ctrl+KpMinus
view.text_size_reset=Ctrl+0
code.gen.if=Alt+I
code.gen.for=Alt+F
code.gen.while=Alt+W
code.gen.do=Alt+D
code.gen.switch=Alt+S
code.gen.function=Alt+N
ui.menu_focus=F10
window.fullscreen=F11
view.markdown_preview=Ctrl+M
ui.focus_next=Tab
ui.focus_previous=Shift+Tab
