# Файл настройки меню приложения.
# menuId и commandId являются стабильными идентификаторами.
# Текст справа от '=' можно переводить и редактировать.

[Menus]
edit=@menu.edit

[Items]
edit=@menu.template.new_c_header|template.new_c_header
edit=@menu.template.new_c_source|template.new_c_source
