# Файл настройки меню приложения.
# menuId и commandId являются стабильными идентификаторами.
# Текст справа от '=' можно переводить и редактировать.

[Menus]
file=@menu.file
edit=@menu.edit
project=@menu.project
debug=@menu.debug

[Items]
file=@menu.file.new_file|file.new
file=@menu.file.new_directory|file.new_directory
file=@menu.template.new_from_template|template.new_from_template
file=@menu.file.rename|file.rename
file=@menu.file.delete|file.delete
file=@menu.file.open|file.open
file=@menu.project.new|project.new
file=@menu.project.open|project.open
file=@menu.project.close|project.close
file=@menu.project.rename|project.rename
file=@menu.environment.settings|environment.settings
file=@menu.file.exit|file.exit
edit=@menu.edit.find|edit.find
edit=@menu.edit.replace|edit.replace
edit=@menu.edit.goto_line|edit.goto_line
edit=@menu.project.find_in_project|project.find_in_project
edit=@menu.project.replace_in_project|project.replace_in_project
edit=@menu.project.replace_undo|project.replace_undo
edit=@menu.project.goto_symbol|project.goto_symbol
edit=@menu.project.goto_definition|project.goto_definition
edit=@menu.edit.complete|editor.complete
edit=@menu.edit.toggle_comment|edit.toggle_comment
edit=@menu.edit.duplicate_line|edit.duplicate_line
edit=@menu.edit.reindent|edit.reindent
edit=@menu.edit.gen_if|code.gen.if
edit=@menu.edit.gen_for|code.gen.for
edit=@menu.edit.gen_while|code.gen.while
edit=@menu.edit.gen_do|code.gen.do
edit=@menu.edit.gen_switch|code.gen.switch
edit=@menu.edit.gen_function|code.gen.function
edit=@menu.project.find_references|project.find_references
edit=@menu.project.rename_symbol|project.rename_symbol
edit=@menu.project.symbols|project.symbols
edit=@menu.bookmark.next|bookmark.next
edit=@menu.bookmark.previous|bookmark.previous
edit=@menu.bookmark.list|bookmark.list
project=@menu.project.settings|project.settings
project=@menu.project.pinout|project.pinout
project=@menu.project.gen_init|project.gen_init
project=@menu.project.mcu.export|project.mcu.export
project=@menu.project.mcu.import|project.mcu.import
project=@menu.project.populate_cmsis|project.populate_cmsis
project=@menu.project.vdir_add|project.vdir_add
project=@menu.project.vdir_remove|project.vdir_remove
project=@menu.project.build|project.build
project=@menu.project.clean|project.clean
project=@menu.project.rebuild|project.rebuild
project=@menu.project.build_run|project.build_run
debug=@menu.debug.start|debug.start
debug=@menu.debug.run|debug.run
debug=@menu.debug.interrupt|debug.interrupt
debug=@menu.debug.stop|debug.stop
debug=@menu.debug.continue|debug.continue
debug=@menu.debug.step_over|debug.step_over
debug=@menu.debug.step_into|debug.step_into
debug=@menu.debug.step_out|debug.step_out
debug=@menu.debug.next_insn|debug.next_instruction
debug=@menu.debug.step_insn|debug.step_instruction
debug=@menu.debug.breakpoint_toggle|debug.breakpoint_toggle
